#event {padding:100px 0;background:#f2f2f2;}
#event .container {display:flex;width:1200px;margin:0 auto;}
#event .container figure {flex:1;padding:0 15px}
#event .container img {display:block;width:100%;}